/* End Global */
#commets-sidbar {
  position: fixed;
  top: calc(0px - -65px);
  right: 0;
  left: 60%;
  bottom: 0;
  background-color: white;
  z-index: 1;
  padding: 15px;
  overflow: auto;
  box-shadow: -8px 0 8px 0 rgb(0 0 0 / 20%);
  transition: 0.5s;
}

#commets-sidbar.close {
  left: 100%;
}

#commets-sidbar .close {
  cursor: pointer;
}

#commets-sidbar .card {
  padding-top: 15px;
}

#commets-sidbar .card .info {
  display: flex;
  gap: 20px;
  align-items: center;
}

#commets-sidbar .info img {
  width: 40px;
  height: 40px;
}

#commets-sidbar .card p {
  padding-left: 20px;
  padding-top: 10px;
  line-height: 30px;
}
