/* All */
* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Body */
body {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 65px;
  padding: 5px 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 5;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  margin-right: 5px;
}

.logo p {
  font-weight: 800;
}

.logo span {
  color: #f4e7d3;
}

.search {
  width: 40%;
  display: flex;
  align-items: center;
  position: relative;
  right: 30px;
}

.search input {
  width: 88%;
  padding: 10px 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  background-color: #f3f3f3;
}

button {
  border: none;
  background: none;
}

.search button {
  padding: 6px 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f4e7d3;
  font-size: 19px;
  cursor: pointer;
  transition: 0.3s;
}

.search button:hover {
  background-color: #ccc;
  color: #fff;
}

#profile {
  height: 40px;
  width: 40px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  width: 70px;
  padding: 40px 0;
  height: calc(100vh - 65px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.selected {
  background-color: #f4e7d3;
}

.sidebar img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  border-radius: 50%;
}

.sidebar p {
  margin-top: 0;
  font-size: 13px;
}

.cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-top: 15px;
  border-radius: 15px;
  margin-bottom: 5px;
  transition: 0.3s;
}

.cat:hover {
  background-color: #f2f2f2;
}

/* Main */
.meals {
  margin-top: 65px;
  margin-left: 70px;
  display: grid;
  padding: 40px 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
}

.meal {
  display: grid;
}

.meal-img-cont {
  height: 180px;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
}

.meal img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.meal-img-cont:hover img {
  transform: scale(1.1);
}

.meal h3 {
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 8px;
}

.meal-info {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.likes {
  display: flex;
  align-items: center;
  height: 40px;
}

.heart-icon {
  height: 70px;
  width: 70px;
  background: url("./images/heart.png");
  background-position: left;
  cursor: pointer;
  position: absolute;
}

.heart-icon.liked {
  animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
}

.heart-bg {
  background: rgba(255, 192, 200, 0);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease;
}

.heart-bg-hover:hover {
  background: rgba(255, 192, 200, 0.7);
}

.like-button {
  display: flex;
  align-items: center;
}

.likes-amount {
  margin-left: 10px;
}

.comments {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.bi-chat {
  margin-right: 5px;
  padding: 5px 8px 4px;
  border-radius: 50%;
  transition: 0.3s;
  font-size: 18px;
  cursor: pointer;
}

.bi-chat:hover {
  background-color: #f0f0f0;
  color: #c2a171;
}

.bi-chat:hover ~ p {
  color: #c2a171;
}

/* Popup */
#popup {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  animation: fadeIn 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
  z-index: 10;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.container {
  width: 15%;
  height: 10vh;
  z-index: 10;
  background: white;
  border: 5px solid #f4e7d3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  border-radius: 15px;
  animation: grow 0.3s;
  animation-fill-mode: forwards;
}

@keyframes grow {
  100% {
    width: 80%;
    height: 85vh;
  }
}

#popup .popup-header {
  text-align: right;
}

#popup .popup-header .close {
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  color: #f4e7d3;
  padding: 10px 10px 0;
}

#popup .close:hover {
  color: #c2a171;
}

#popup .popup-main {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  line-height: 1.3;
  padding: 0 15px 15px;
  overflow: auto;
}

#popup .popup-main a img {
  width: 100%;
  border-radius: 15px;
}

#popup .popup-main .instructions {
  text-align: left;
}

#popup h2 {
  font-size: 38px;
  margin-top: 5px;
  color: #c2a171;
  margin-bottom: 0;
}

#popup p,
#popup li {
  font-size: 12.3px;
}

/* Loading skeleton */
.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-cont {
  padding: 10px;
}

.skeleton-image {
  width: 100%;
  height: 160px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.skeleton-image-side {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.skeleton-text-side {
  height: 10px;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
}

.skeleton-text {
  height: 20px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.skeleton-info {
  display: flex;
}

.skeleton-like {
  width: 50px;
  height: 20px;
  border-radius: 15px;
  margin-right: 45px;
}

.hide {
  display: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #dcdcdc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
